body {
  font-family: "Open Sans", sans-serif;
}

.header {
  background-color: #3c3c3c;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}

input {
  width: 75%;
}

.card {
  background-color: rgb(38, 86, 230);
  margin: 2rem;
  color: #ffffff;
}
